// @import 'fonts';
@import 'vars';
@import 'vendor/reset.scss';

@import 'mixins';


*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}


body {
    font-family: -apple-system, BlinkMacSystemFont, Segoe\ UI, Roboto, Helvetica\ Neue, Arial, Noto\ Sans, sans-serif;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.5rem;
    color: #5d99c8;
    background-color: #e5e5e5;
}


@import 'blocks/container';
@import 'blocks/range-slider';